@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 700;
    color: white;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    background: linear-gradient(116.7deg, #8C52FF 6.37%, #8C52FF 6.38%, #5E17EB 99.47%);
}

#purple {
    background: #8c52ff;
}

#dark-purple {
    background: #5e17eb;
}

#equal {
    width: 100%;
    border-radius: 73px;
    background: #5e17eb;
}

#equal:hover {
    border-radius: 15px;
}

.calculator {
    width:  18rem;
    height: 27.7rem;
    border-radius: 10px;
    position: fixed;
    background: #161a19;

    background: linear-gradient(156.74deg, #161A19 0%, rgba(22, 26, 25, 0.69) 102.83%);

    box-shadow: 9px 4px 9px 5px rgba(0, 0, 0, 0.25);
}

.calculator--display {
    height: 4.5rem;
    background: #444d4b;
    border-radius: 10px;
    margin: .6rem;
    /* border: 1px solid greenyellow; */
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.display--text {
    /* border: 1px solid red; */
    display: block;
    text-align: end;
    padding-right: 5px;
    overflow: hidden;
}

.calculator--keyboard {
    text-align: center;
    width: 100%;
    height: 75%;
    padding: 10px;
}

.keys {
    justify-content: center;
    display: flex;
}

.keys input {
    font-size: 24px;
    height: 55px;
    min-width: 55px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background: #444d4b;
    transition: ease all 0.2s;
}

.keys input:hover {
    opacity: .7;
    border-radius: 25%;
}