@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    
    color: white;
}

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 700;

    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(116.7deg, #8C52FF 6.37%, #8C52FF 6.38%, #5E17EB 99.47%);
    margin: 0;
}

.calculator-container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

#purple {
    background: #8c52ff;
}

#dark-purple {
    background: #5e17eb;
}

#equal {
    width: 100%;
    border-radius: 73px;
    background: #5e17eb;
}

#equal:hover {
    border-radius: 15px;
}

.calculator {
    width:  18rem;
    height: 27.7rem;
    border-radius: 10px;
    background: #161a19;
    margin-top: 200px;

    background: linear-gradient(156.74deg, #161A19 0%, rgba(22, 26, 25, 0.69) 102.83%);
    
    box-shadow: 9px 4px 9px 5px rgba(0, 0, 0, 0.25);
}

.calculator--display {
    height: 4.5rem;
    background: #444d4b;
    border-radius: 10px;
    margin: .6rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.display--text {
    display: block;
    text-align: end;
    padding-right: 5px;
    overflow: hidden;
}

.calculator--keyboard {
    text-align: center;
    width: 100%;
    height: 75%;
    padding: 10px;
}

.keys {
    justify-content: center;
    display: flex;
}

.keys input {
    font-size: 24px;
    height: 55px;
    min-width: 55px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background: #444d4b;
    transition: ease all 0.2s;
}

.keys input:hover {
    opacity: .7;
    border-radius: 25%;
}

footer {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    width: 100%;
    height: 280px;
    background: #161a19;
    bottom: 0;
    left: 0;
    top: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

::-webkit-scrollbar {
    width: .1px;
}

::-webkit-scrollbar-track {
    background: #161a19;
}

::-webkit-scrollbar-thumb {
    background: #444d4b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}