@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#purple {
    background: #8c52ff;
}

#dark-purple {
    background: #5e17eb;
}

.calculator {
    width:  18rem;
    height: 27.7rem;
    border-radius: 10px;
    position: fixed;
    background: #161a19;
}

.calculator--display {
    height: 4.5rem;
    /* border: 3px solid greenyellow;  */
    background: #444d4b;
    border-radius: 10px;
    margin: .6rem;
}

.display--text {
    height: 50px;
    width: 15rem;
    color: #fff;
    text-align: right;
    font-size: 60px;
    margin-left: 24px;
}

.calculator--keyboard {
    text-align: center;
    width: 100%;
    height: 75%;
    /* border: 3px solid greenyellow; */
    padding: 10px;
}

.keys {
    justify-content: center;
    /* border: 1px solid red; */
    display: flex;
}

.keys input {
    font-size: 24px;
    height: 55px;
    min-width: 55px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background: #444d4b;
}

.keys input:hover {
    opacity: .7;
}